<div class="content" *ngIf="wallet" fxLayout="column" fxLayoutGap="16px">
  <a mat-icon-button routerLink="/"><mat-icon>arrow_back_ios</mat-icon></a>
  <div
    class="wallet"
    fxLayout="row"
    fxLayout.xs="column-reverse"
    fxLayoutAlign="space-between center"
  >
    <div>
      <h1>{{ wallet.name }}</h1>
      <div fxLayout="row" fxLayoutGap="16px">
        <a
          *ngIf="wallet.companyUrl"
          class="company"
          target="_blank"
          [href]="wallet.companyUrl"
          >{{ wallet.company }}</a
        >
        <span class="company" *ngIf="!wallet.companyUrl">{{
          wallet.company
        }}</span>
        <a *ngIf="wallet.contact" [href]="getSupport(wallet.contact)"
          >Contact provider</a
        >
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <p>
          <a
            *ngIf="wallet.urlWebsite"
            class="website"
            target="_blank"
            [href]="wallet.urlWebsite"
            >Website</a
          >
        </p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <a
          *ngIf="wallet.urlGooglePlayStore"
          [href]="wallet.urlGooglePlayStore"
          target="_blank"
          ><img
            src="assets/google-play-badge.svg"
            alt="Google Play Store"
            width="150px"
        /></a>
        <a
          *ngIf="wallet.urlAppStore"
          [href]="wallet.urlAppStore"
          target="_blank"
          ><img
            src="assets/app-store-badge.svg"
            alt="Google Play Store"
            width="150px"
        /></a>
      </div>
    </div>
    <img
      *ngIf="logoError"
      [src]="walletsService.getLogo(wallet.logo)"
      class="logo"
      alt="Logo of the wallet"
      (error)="logoError = false"
    />
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <mat-list>
      <mat-list-item [matTooltip]="walletsService.getTooltip('type')">
        <div matListItemTitle><b>Type</b></div>
        <span matListItemLine>{{ wallet.type }}</span>
      </mat-list-item>
      <mat-list-item [matTooltip]="walletsService.getTooltip('capability')">
        <div matListItemTitle><b>Capabilities</b></div>
        <span matListItemLine>{{ wallet.capability?.join(', ') }}</span>
      </mat-list-item>
      <mat-list-item [matTooltip]="walletsService.getTooltip('portability')">
        <div matListItemTitle><b>Portability</b></div>
        <span matListItemLine>{{ wallet.portability ?? 'unknown' }}</span>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item [matTooltip]="walletsService.getTooltip('openSource')">
        <div matListItemTitle><b>Open Source</b></div>
        <span matListItemLine *ngIf="!wallet.downloadSource"
          >{{ wallet.openSource }}
        </span>
        <a
          matListItemLine
          *ngIf="wallet.downloadSource"
          [href]="wallet.downloadSource"
          >{{ wallet.downloadSource }}</a
        >
      </mat-list-item>
      <mat-list-item>
        <div
          matListItemTitle
          [matTooltip]="walletsService.getTooltip('license')"
        >
          <b>License</b>
        </div>
        <span matListItemLine>{{ wallet.license ?? 'unknown' }}</span>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <h2>Supported</h2>
  <mat-list>
    @for (resource of walletsService.resources; track resource) {
    <div *ngIf="wallet[resource.id]">
      <div mat-subheader>
        {{ resource.name }}
      </div>
      @for (element of wallet[resource.id]; track element) {
      <mat-list-item>
        <a
          matListItemLine
          target="_blank"
          [href]="walletsService.getLink(resource.id, element)"
          >{{ element }}</a
        >
      </mat-list-item>
      }
      <mat-divider></mat-divider>
    </div>
    }
  </mat-list>
  <div *ngIf="wallet.dependencies" fxLayout="column" fxLayoutGap="16px">
    <h2>Dependencies</h2>
    @for(dependency of wallet.dependencies; track dependency) {
    <mat-card>
      <mat-card-header>
        <h2 matCardTitle>{{ dependency.name }}</h2>
      </mat-card-header>
      <mat-card-content>
        <p>{{ dependency.description }}</p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="space-between center" fxLayout="row">
        <a
          mat-button
          target="_blank"
          [href]="dependency.community"
          *ngIf="dependency.community"
          >Community</a
        >
        <a mat-button target="_blank" [href]="dependency.url" target="_blank"
          >More information</a
        >
      </mat-card-actions>
    </mat-card>
    }
    <mat-divider></mat-divider>
  </div>
  <div id="history">
    <a mat-button [href]="wallet.commitHistory" target="_blank"
      >Commit history</a
    >
  </div>
</div>
