.github {
    display: flex;
    align-items: center;

    img {
        float: left;
        padding: 4px 8px;
    }

    a {
        display: flex;
        align-items: center;
    }
}

.router-link-active {
    background-color: rgba(0,0,0,.2)
}

.logo {
  height: 40px;
}
