<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <span>Digital Wallet and Agent overview</span>
  <div class="spacer"></div>
  <div fxLayout="row" fxLayoutAlign="start center" fxHide.xs="true">
    <button mat-button (click)="addWallet()">Add Wallet</button>
    <button mat-button (click)="showInfo()">Info</button>
    <div class="github">
      <a
        mat-button
        href="https://github.com/openwallet-foundation/digital-wallet-and-agent-overviews-sig"
        ><img src="assets/github.svg" alt="Github" /> <span>Github</span></a
      >
    </div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-xs="true">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addWallet()">Add Wallet</button>
    <button mat-menu-item (click)="showInfo()">Info</button>
    <a
      mat-menu-item
      href="https://github.com/openwallet-foundation/digital-wallet-and-agent-overviews-sig"
    >
      <span>Github</span>
    </a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
