.github {
  display: flex;
  align-items: center;

  img {
    float: left;
    padding: 4px 8px;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.active-link {
  background-color: #c3d4f6;
}
