<div class="content">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="table-header">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <button mat-icon-button (click)="openFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-chip-listbox>
        @for (filter of getFilterValues(); track filter) {
          <mat-chip-option
            selectable="false"
            >{{ filter }}</mat-chip-option
            >
          }
        </mat-chip-listbox>
      </div>
    </div>
    <section class="container">
      <table mat-table [dataSource]="dataSource" matSort>
        @for (column of columns; track column; let indexOfElement = $index) {
          <ng-container
            [matColumnDef]="column.key"
            [sticky]="isSticky(column)"
            >
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [matTooltip]="column.tooltip"
              >
              {{ column.key }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (column.key === 'Name') {
                <div>
                  <a [routerLink]="element['Name']"> {{ element[column.key] }}</a>
                </div>
              }
              @if (column.key !== 'Name') {
                <div
                  fxLayoutAlign="space-around center"
                  >
                  @switch (elementType(element[column.key], column.key)) {
                    @case ('link') {
                      <a
              [routerLink]="
                getLink(['/resources', column.key, element[column.key]])
              "
                        >{{ element[column.key] }}</a
                        >
                      }
                      @case ('icon') {
                        <div>
                          <mat-icon>{{ element[column.key] ? 'done' : 'close' }}</mat-icon>
                        </div>
                      }
                      @case ('icon-tooltip') {
                        <div>
                          <mat-icon [matTooltip]="element[column.key].Description"
                            >{{ element[column.key].Value ? 'done' : 'close' }} </mat-icon
                            >*
                          </div>
                        }
                        @case ('undefined') {
                          <div>
                            <mat-icon>question_mark</mat-icon>
                          </div>
                        }
                        @default {
                          <div
                            [innerHTML]="element[column.key] | format"
                          ></div>
                        }
                      }
                    </div>
                  }
                </td>
              </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </section>
      </div>
      <mat-paginator
        [pageSizeOptions]="[10, 20, 50]"
        [pageSize]="50"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        >
      </mat-paginator>
