.container {
  max-height: calc(100vh - 149px);
  overflow: auto;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.table-header {
  border-bottom: 1px solid #E0E0E0;
}

#updateDate {
  padding-right: 10px;
}
