<div
  fxLayout="row"
  fxLayout.lt-sm="column-reverse"
  fxLayoutGap="16px"
  class="content"
>
  <div fxFlex="70" fxFlex.xs="100">
    <app-case-studies-list-embedded
      [caseStudies]="caseStudies"
    ></app-case-studies-list-embedded>
    @if(caseStudies.length === 0) {
    <h4>No case studies found.</h4>
    }
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="16px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Newsletter</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Subscribe to our monthly newsletter to get an update of all new case
        studies that got added in the last month.
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button [href]="subscribeLink" target="_blank">Subscribe</a>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
    <button mat-button (click)="addCaseStudy()">Add Case Study</button>
    <mat-divider></mat-divider>
    <h4>Tags</h4>
    <mat-chip-listbox>
      @for(tag of caseStudiesService.getTags(); track tag) {
      <mat-chip-option
        (click)="filterByTag(tag)"
        [selected]="isSelected(tag)"
        >{{ tag }}</mat-chip-option
      >
      }
    </mat-chip-listbox>
  </div>
</div>
