<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Wallet and Agent Overview</h1>
    <h4>A special interests group of the OpenWallet Foundation</h4>
  </div>
  <!--   <a mat-raised-button routerLink="wallets">Show table</a>
 -->
</div>

<div class="content" fxLayout="column" fxLayoutGap="32px">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card matRipple routerLink="wallets" fxFlex="50">
      <mat-card-header>
        <h1 mat-card-title>Wallet and Agent Overview</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Wallet and Agent Overview is a special interest group of the
          OpenWallet Foundation. We aim to provide a comprehensive overview of
          all wallets and agents, including their supported credential profiles
          and dependencies.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card matRipple routerLink="dependencies" fxFlex="50">
      <mat-card-header>
        <h1 mat-card-title>Dependencies</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Explore a detailed list of all dependencies used by the wallets and
          agents, providing you with a clear understanding of their ecosystem.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card matRipple routerLink="case-studies" fxFlex="50">
      <mat-card-header>
        <h1 mat-card-title>Case Studies</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Discover real-world applications and success stories of wallets and
          agents in action.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card matRipple routerLink="credential-profiles" fxFlex="50">
      <mat-card-header>
        <h1 mat-card-title>Credential Profiles</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Get an overview of all the credential profiles supported by the
          wallets with their supported features and tradeoffs.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <h3>Resources</h3>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-nav-list fxFlex="50">
      <ng-container *ngFor="let tab of leftTabs">
        <a
          mat-list-item
          [routerLink]="['resources', tab]"
          routerLinkActive="active-link"
          >{{ tab }}</a
        >
      </ng-container>
    </mat-nav-list>
    <mat-nav-list fxFlex="50">
      <ng-container *ngFor="let tab of rightTabs">
        <a
          mat-list-item
          [routerLink]="['resources', tab]"
          routerLinkActive="active-link"
          >{{ tab }}</a
        >
      </ng-container>
    </mat-nav-list>
  </div>
  <mat-divider></mat-divider>
  <h3>Participate</h3>
  <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="16px">
    <a
      href="https://discord.gg/fYEbfjWAkP"
      fxLayout="column"
      fxLayoutAlign="start center"
      class="link"
    >
      <img src="assets/discord-icon.svg" class="icon" alt="Discord" />
      <b>Discord</b>
      <span>Join our Discord server to participate in discussions.</span>
    </a>
    <a
      href="https://github.com/openwallet-foundation/digital-wallet-and-agent-overviews-sig"
      fxLayout="column"
      fxLayoutAlign="start center"
      class="link"
    >
      <img src="assets/github-mark.svg" class="icon" alt="Discord" />
      <b>Github</b>
      <span>Review the data and the overview.</span>
    </a>
  </div>
</div>
<mat-divider></mat-divider>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
  <a href="https://openwallet.foundation" target="_blank">
    <img src="assets/openwallet-foundation.svg" alt="OpenWallet Foundation" />
  </a>
  <p class="info">Code Licensed under an Apache 2.0 License.</p>
</div>
