.header {
  height: 40vh;
  h1 {
    margin: 0;
  }
  padding: 20px;
  position: relative;
}

.content {
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  line-height: 2;
}

#logo {
  position: absolute;
  left: 50%;
  margin-left: 150px;
  filter: grayscale(100%) opacity(0.3);
}

@media (max-width: 600px) {
  .header, .content {
    text-align: center; /* Center text for small screens */
  }
  #logo {
    display: none;
  }
}
