<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Wallet and Agent Overview</h1>
    <h4>A special interests group of the OpenWallet Foundation</h4>
  </div>
  <!--   <a mat-raised-button routerLink="wallets">Show table</a>
 -->
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" class="content">
  <div fxFlex="33" fxLayoutAlign.xs="start center" fxLayout.xs="column">
    <h3>Wallet and Agent overview</h3>
    <p>
      Discover a comprehensive overview of all wallets and agents, including
      their supported credential profiles and more.
    </p>
    <a mat-button routerLink="wallets">Explore table</a>
  </div>
  <div fxFlex="33" fxLayoutAlign.xs="start center" fxLayout.xs="column">
    <h3>Dependencies</h3>
    <p>
      Explore a detailed list of all dependencies used by the wallets and
      agents, providing you with a clear understanding of their ecosystem.
    </p>
    <a mat-button routerLink="dependencies">View dependencies</a>
  </div>
  <div fxFlex="33" fxLayoutAlign.xs="start center" fxLayout.xs="column">
    <h3>Case studies</h3>
    <p>
      Discover real-world applications and success stories of wallets and agents
      in action.
    </p>
    <a mat-button routerLink="case-studies">Read case studies</a>
  </div>
</div>
