@if(caseStudy) {
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <div fxFlex>
    <img
      class="img"
      mat-card-image
      [src]="caseStudy.imageUrl"
      alt="image of the case study"
    />
    <h1>{{ caseStudy.headline }}</h1>
    <h4>{{ caseStudy.createdAt | date }}</h4>
    <p>{{ caseStudy.summary }}</p>
    <a mat-flat-button [href]="caseStudy.url" target="_blank"
      >Read full case study</a
    >
  </div>
  <div fxFlex="33" fxLayout="column" fxLayoutGap="16px">
    <h4>Tags</h4>
    <mat-chip-set>
      @for(tag of caseStudy.hashTags; track tag) {
      <mat-chip
        [routerLink]="['/case-studies/']"
        [queryParams]="{ tag: tag }"
        >{{ tag }}</mat-chip
      >
      }
    </mat-chip-set>
    <mat-divider></mat-divider>
    <h4>Used wallets or agents</h4>
    <mat-nav-list>
      @for(reference of caseStudy.references; track reference) {
      <a mat-list-item [routerLink]="['/wallets', reference]">
        <div matListItemTitle>{{ reference }}</div>
        <div matListItemLine>{{ walletsService.getCompany(reference) }}</div>
      </a>
      }
    </mat-nav-list>

    @if(caseStudy.stakeholders) {
    <mat-divider></mat-divider>
    <h4>Stakeholders</h4>
    <mat-list>
      @for(stakeholder of caseStudy.stakeholders; track stakeholder) {

      <mat-nav-list>
        @if(stakeholder.contact) {
        <a mat-list-item [href]="stakeholder.contact" target="_blank">{{
          stakeholder.name
        }}</a>
        } @else {
        <span matListItemTitle>{{ stakeholder.name }}</span>
        }
      </mat-nav-list>
      }
    </mat-list>
    }
  </div>
</div>
}
