@if (profile) {
  <div class="content">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card-title>{{ profile.Name }}</mat-card-title>
        <button mat-icon-button routerLink="/">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        @for (key of appService.extraValues; track key) {
          <div>
            <mat-divider></mat-divider>
            <mat-list>
              <div mat-subheader>{{ key }}</div>
              @if (getElement(key).length === 0) {
                <mat-list-item matListItemLine>No data</mat-list-item>
              }
              @for (value of getElement(key); track value) {
                <mat-list-item>
                  <div matListItemTitle>
                    <b>{{ value.key }}</b>
                    <button mat-icon-button [routerLink]="'/definition/' + key + '/' + value.key">
                      <mat-icon>info</mat-icon>
                    </button>
                  </div>
                  @if (value.type === 'text') {
                    <div matListItemLine>
                      <span>{{ value.value }}</span>
                    </div>
                  }
                  @if (value.type === 'link') {
                    <div matListItemLine>
                      <a [href]="value.value">{{ value.value }}</a>
                    </div>
                  }
                </mat-list-item>
              }
            </mat-list>
          </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
}
