<div *ngIf="profile" class="content">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>{{ profile.Name }}</mat-card-title>
      <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let key of appService.extraValues">
        <mat-divider></mat-divider>
        <mat-list>
          <div mat-subheader>{{ key }}</div>
          <mat-list-item matListItemLine *ngIf="getElement(key).length === 0"
            >No data</mat-list-item
          >
          <mat-list-item *ngFor="let value of getElement(key)">
            <div matListItemTitle>
              <b>{{ value.key }}</b>
              <button
                mat-icon-button
                [routerLink]="'/definition/' + key + '/' + value.key"
              >
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <div matListItemLine *ngIf="value.type === 'text'">
              <span>{{ value.value }}</span>
            </div>
            <div matListItemLine *ngIf="value.type === 'link'">
              <a [href]="value.value" target="_blank">{{ value.value }}</a>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
