@if(form) {
<div fxLayout="row" fxLayoutAlign="space-between center" id="filter">
  <h1 matDialogTitle>Filter</h1>
  <!-- <button mat-icon-button matDialogClose type="button">
    <mat-icon>close</mat-icon>
  </button> -->
</div>
<form [formGroup]="form">
  <mat-dialog-content fxLayout="column" fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value=""></mat-option>
        <mat-option value="cloud">cloud</mat-option>
        <mat-option value="edge">edge</mat-option>
      </mat-select>
      <mat-hint>{{ walletsService.getTooltip('Type') }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Open Source</mat-label>
      <mat-select formControlName="openSource">
        <mat-option value=""></mat-option>
        <mat-option value="true">true</mat-option>
        <mat-option value="false">false</mat-option>
      </mat-select>
      <mat-hint>{{ walletsService.getTooltip('OpenSource') }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Capability</mat-label>
      <mat-select multiple="true" formControlName="capability">
        <mat-option value="holder">Holder</mat-option>
        <mat-option value="issuer">Issuer</mat-option>
        <mat-option value="verifier">Verifier</mat-option>
      </mat-select>
      <mat-hint>{{ walletsService.getTooltip('capability') }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Portability</mat-label>
      <mat-select formControlName="portability">
        <mat-option value=""></mat-option>
        <mat-option value="true">true</mat-option>
        <mat-option value="false">false</mat-option>
      </mat-select>
      <mat-hint>{{ walletsService.getTooltip('portability') }}</mat-hint>
    </mat-form-field>
    @for (res of walletsService.resources; track res) {
    <mat-form-field>
      <mat-label>{{ res.name }}</mat-label>
      <mat-select [formControlName]="res.id" multiple>
        @for (resource of getValues(res.schemaId); track resource) {
        <mat-option [value]="resource">{{ resource }}</mat-option>
        }
      </mat-select>
      <mat-hint>{{ res.tooltip }}</mat-hint>
    </mat-form-field>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [matDialogClose]="form.value" type="button">
      Apply
    </button>
  </mat-dialog-actions>
</form>
}
