.entry {
  width: 100%;
}

.img {
  width: 300px; /* Set your desired width */
  height: 150px; /* Set your desired height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h5 {
  margin-top: 0;
}

h2 {
  margin-bottom: 5px;
}
