@if(form) {
<div fxLayout="row" fxLayoutAlign="space-between center" id="filter">
  <h1 matDialogTitle>Filter</h1>
</div>
<form [formGroup]="form">
  <mat-dialog-content fxLayout="column" fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>License</mat-label>
      <mat-select formControlName="license">
        <mat-option value=""></mat-option>
        @for(license of licenses; track license) {
        <mat-option [value]="license">{{ license }}</mat-option>
        }
      </mat-select>
      <mat-hint>{{ dependenciesService.getTooltip('license') }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Programming language</mat-label>
      <mat-select formControlName="language">
        <mat-option value=""></mat-option>
        @for(language of languages; track language) {
        <mat-option [value]="language">{{ language }}</mat-option>
        }
      </mat-select>
      <mat-hint>{{ dependenciesService.getTooltip('language') }}</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [matDialogClose]="form.value" type="button">
      Apply
    </button>
  </mat-dialog-actions>
</form>
}
