<h1 mat-dialog-title>Info</h1>
<mat-dialog-content>
  <p>
    This is a project to create a digital wallet and agent overviews SIG by the
    <a href="https://openwallet.foundation">OpenWallet Foundation</a>.
  </p>
  <p>
    The goal is to create a set of overviews that can be used to understand the
    digital wallet and agent landscape.
  </p>
  <p>
    With filters, you can use the overview to find for example
    <a href="./#%7B%22credentialProfiles%22:%5B%22EBSI%22%5D%7D">
      agents claiming EBSI compliance</a>,
    <a href="./#%7B%22capability%22:%5B%22issuer%22%5D%2C%22issuanceProtocols%22:%5B%22OpenID4VCI%22%5D%7D">
      issuer agents supporting <code>OID4VCI</code></a> or
    <a href="./#%7B%22capability%22:%5B%22holder%22%5D%2C%22type%22:%22edge%22%2C%22credentialFormats%22:%5B%22LDP-VC%22%5D%7D">
      mobile wallets supporting the <code>LDP-VC</code> credential format</a>.
  </p>
  <p>
    If you want to contact the authors or join the upcoming meetings click
    <a
      href="https://github.com/openwallet-foundation/digital-wallet-and-agent-overviews-sig"
      >here</a
    >.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button></mat-dialog-actions
>
