<h1 mat-dialog-title>Info</h1>
<mat-dialog-content>
  <p>
    This is a project to create a digital wallet and agent overviews SIG by the
    <a href="https://openwallet.foundation">OpenWallet Foundation</a>.
  </p>
  <p>
    The goal is to create a set of overviews that can be used to understand the
    digital wallet and agent landscape.
  </p>
  <p>
    If you want to contact the authors or join the upcoming meetings click
    <a
      href="https://github.com/openwallet-foundation/digital-wallet-and-agent-overviews-sig"
      >here</a
    >.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button></mat-dialog-actions
>
